$white: #fff;
$blue-grey: #425563; // rgb(66, 85, 99)
$orange: #e84a37;
$error: #dd2c2c;
$yellow: #f3c13a;
$dark-grey: #53565a;
$light-grey: #888b8d;
$lighter-grey: #d8d8d8;
$grey-5: #9e9e9e;

$light-background: $light-grey;
$light-foreground: $blue-grey;

// Colours from Atom OneDark theme
$dark-background: rgb(40, 44, 52); // #282C34;
$dark-background-light: rgba(45, 49, 57, 1);

$background: #fff;