$brand-blue: (50 : #e6e6ef,
    100 : #c0c1d8,
    200 : #9797be,
    300 : #6d6da4,
    400 : #4d4e91,
    500 : #2e2f7d,
    600 : #292a75,
    700 : #23236a,
    800 : #1d1d60,
    900 : #12124d,
    A100 : #8787ff,
    A200 : #5454ff,
    A400 : #2121ff,
    A700 : #0808ff,
    contrast: (50 : #000,
        100 : #000,
        200 : #676060,
        300 : #fff,
        400 : #fff,
        500 : #fff,
        600 : #fff,
        700 : #fff,
        800 : #fff,
        900 : #fff,
        A100 : #000,
        A200 : #fff,
        A400 : #fff,
        A700 : #fff,
    ));

$brand-green: (50 : #f3f8ed,
    100 : #e0eed1,
    200 : #cbe2b3,
    300 : #b6d695,
    400 : #a7ce7e,
    500 : #97c567,
    600 : #8fbf5f,
    700 : #84b854,
    800 : #7ab04a,
    900 : #69a339,
    A100 : #f7fff1,
    A200 : #daffbe,
    A400 : #bdff8b,
    A700 : #aeff71,
    contrast: (50 : #000,
        100 : #000,
        200 : #f6ee26,
        300 : #000,
        400 : #000,
        500 : #000,
        600 : #000,
        700 : #000,
        800 : #000,
        900 : #000,
        A100 : #000,
        A200 : #000,
        A400 : #000,
        A700 : #000,
    ));